html { 
    background: url("../../images/vapor9cropped5.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-right: 20%;
  }

h1 {
    right: 0;
    margin-top: 40px;
    bottom: 0px;
    width: 100%;
    color: #595C60;
    font-weight: bold;
    font-size: 8.0rem;
    padding-bottom: 1.7%;
    padding-left: 0%;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    right: 0;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF;
}

.index-header {
  right: 0;
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
  color: #595C60;
  font-weight: bold;
  font-size: 8.0rem;
  padding-bottom: 17%;
  padding-left: 0%;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  right: 0;
  text-shadow:
  -2px -2px 0 #6EC3DF,
  2px -2px 0 #6EC3DF,
  -2px 2px 0 #6EC3DF,
  2px 2px 0 #6EC3DF;
}

h2 {
  right: 0;
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
  color: #E065E8;
  font-weight: bold;
  font-size: 5.5rem;
  padding-bottom: 5%;
  padding-left: 0%;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  right: 0;
  text-shadow:
  -3px -3px 0 #595C60,
  3px -3px 0 #595C60,
  -3px 3px 0 #595C60,
  3px 3px 0 #595C60;
}

h3 {
  right: 0;
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
  /*color: #595C60;*/
  color: #595C60;
  font-weight: bold;
  font-size: 3.5rem;
  padding-bottom: 0%;
  padding-left: 0%;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  right: 0;
  text-shadow:
  -2px -2px 0 #6EC3DF,
  2px -2px 0 #6EC3DF,
  -2px 2px 0 #6EC3DF,
  2px 2px 0 #6EC3DF;
}

p {
  right: 0;
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
  color: #595C60;
  font-weight: bold;
  font-size: 1.75rem;
  padding-bottom: 3%;
  padding-left: 0%;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  right: 0;
}

a {
    text-align: right;
    text-decoration: none;
    font-size: 250%;
    padding-bottom: 45px;
    color: #595C60;
    font-weight: bold;
    padding-bottom: 17%;
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    right: 0;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF; 
  }

  a:hover {
    text-shadow:
    -2px -2px 0 #CA91E4,
    2px -2px 0 #CA91E4,
    -2px 2px 0 #CA91E4,
    2px 2px 0 #CA91E4;
    color: #595C60; 
  }

  .container-footer {
    color: #595C60;
    font-weight: medium;
    padding-bottom: 10%;
    padding-left: 0%;
    margin-top: 0%;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    right: 0;
    text-decoration: none;
    font-size: 2.0rem;
    padding-top: 1.5%;
    padding-bottom: 45px;
    text-transform: uppercase;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF;  
}

.container-footer a:hover {
    text-shadow:
    -2px -2px 0 #CA91E4,
    2px -2px 0 #CA91E4,
    -2px 2px 0 #CA91E4,
    2px 2px 0 #CA91E4;
    color: #595C60; 
  }
  
  .container-footer > .row {
      margin-top: 5%;
  }

  .one-link {
    padding-bottom: 15px;
  }

  .home-nav {
    text-align: center;
    text-decoration: none;
    font-size: 350%;
    padding-bottom: 45px;
    color: #E065E8;
    font-weight: bold;
    padding-left: 0%;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    right: 0;
    text-shadow:
    -3px -3px 0 #595C60,
    3px -3px 0 #595C60,
    -3px 3px 0 #595C60,
    3px 3px 0 #595C60; 
  }

  .nav {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .nav a:hover {
    color: #6EC3DF; 
    text-shadow:
    -3px -3px 0 #595C60,
    3px -3px 0 #595C60,
    -3px 3px 0 #595C60,
    3px 3px 0 #595C60; 
  }

  .wireframe {
    height: 40%;
    width: 40%;
  }

  