html { 
    background: url("../../images/vapor9cropped5.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    right: 0;
    margin-top: 60px;
    bottom: 0px;
    width: 100%;
    color: #595C60;
    font-weight: bold;
    font-size: 8.0rem;
    padding-bottom: 15%;
    padding-left: 45%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    right: 0;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 350%;
    padding-bottom: 45px;
    color: #595C60;
    font-weight: bold;
    padding-bottom: 15%;
    padding-left: 45%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    right: 0;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF; 
  }

  a:hover {
    text-shadow:
    -2px -2px 0 #CA91E4,
    2px -2px 0 #CA91E4,
    -2px 2px 0 #CA91E4,
    2px 2px 0 #CA91E4;
    color: #595C60; 
  }

  .container-footer a {
    color: #595C60;
    font-weight: medium;
    padding-bottom: 10%;
    padding-left: 35%;
    margin-top: 35px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    right: 0;
    text-decoration: none;
    font-size: 120%;
    padding-bottom: 45px;
    text-transform: uppercase;
    text-shadow:
    -2px -2px 0 #6EC3DF,
    2px -2px 0 #6EC3DF,
    -2px 2px 0 #6EC3DF,
    2px 2px 0 #6EC3DF;  
}

.container-footer a:hover {
    text-shadow:
    -2px -2px 0 #CA91E4,
    2px -2px 0 #CA91E4,
    -2px 2px 0 #CA91E4,
    2px 2px 0 #CA91E4;
    color: #595C60; 
  }
  
  .container-footer > .row {
      margin-top: 5%;
  }

  .one-link {
    padding-bottom: 15px;
  }
